{% extends 'base.html' %}

{% load static i18n files_tags %}

{% block title %}{% translate 'Mot de passe oublié' %} | {% endblock %}

{% block content %}
    <main class="section wrapper--form wrapper--centered">
        <div class="card card--form">
            <div class="section--centered">
                {{ 'img/icon__password--check.svg'|read_svg|safe }}
                <h1 class="title--header">{% translate 'Mise à jour du mot de passe terminée' %}</h1>
                <p>{% translate 'Votre nouveau mot de passe à été défini. Vous pouvez maintenant vous authentifier.' %}</p>
            </div>

            <div class="form__submit">
                <a href="{% url 'login' %}" class="btn btn--primary btn--full" title="{% translate 'Revenir à la page de connexion' %}">{% translate 'Connexion' %}</a>
            </div>
        </div>
    </main>
{% endblock %}
