{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% translate 'Mot de passe oublié' %} | {% endblock %}

{% block content %}
{% include 'frags/header.html' %}
<main class="page__content">
    <section class="section wrapper--form wrapper--centered">
            <div class="card card--form">
                <div class="section--centered">
                    <h1 class="title--header">Mot de passe oublié</h1>
                </div>
                <div class="form__container">
                    <form class="password__content" method="POST">
                        {% csrf_token %}
                        <div class="form__line">
                            <div class="form__part form__part--full">
                                <label class="form__label" for="title">Email</label>
                                <input type="email" class="input--classic input--text" placeholder="Quel est votre email" id="id_email" name="email" required="" autocomplete="email"/>
                            </div>
                        </div>
                        <div class="form__submit">
                            <input type="submit" class="btn btn--primary btn--full" value="Confirmer" />
                        </div>
                    </form>
                </div>
            </div>
    </section>
</main>
{% endblock %}
