{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% translate 'Nouveau mot de passe' %} | {% endblock %}

{% block content %}

{% include 'frags/header.html' %}

<main class="page__content">
    <section class="section wrapper--form wrapper--centered">
        <div class="card card--form">
            <div class="section--centered">
                <h1 class="title--header">{% translate 'Nouveau mot de passe' %}</h1>
                <p>{% translate 'Veuillez définir ci-dessous votre nouveau mot de passe' %}</p>
            </div>

            <form class="password__content" method="POST">
                {% csrf_token %}
                {% if message %} <p>{{ message }}</p> {% endif %}
                <div class="form__line ">
                    <div class="form__line form__part--full">

                        <label class="form__label" for="id_new_password1">Nouveau mot de passe</label>
                        <input type="password" class="input--classic input--text" placeholder="Nouveau mot de passe" id="id_new_password1" name="new_password1" required="" autocomplete="new-password"/>
                    </div>
                </div>

                <div class="form__line ">
                    <div class="form__line form__part--full"></div>

                        <label class="form__label" for="id_new_password2">Confirmer votre nouveau mot de passe</label>
                        <input type="password" class="input--classic input--text" placeholder="Nouveau mot de passe" id="id_new_password2" name="new_password2" required="" autocomplete="new-password"/>
                    </div>
                </div>

                <input class="btn btn--primary btn--full" type="submit" value="{% translate 'Réinitialiser mon mot de passe' %}" />
            </form>
        </div>
    </section>
</main>
{% endblock %}
